$breakpoints: (
  "phone": 360px,
  "phone-large": 420px,
  "phone-wide": 480px,
  "tablet-small": 640px,
  "tablet": 768px,
  "laptop-small": 1024px,
  "laptop-wide": 1366px,
  "laptop-wide-desktop": 1536px,
  "desktop": 1800px,
  "desktop-wide": 2560px,
);

//Dark Theme
$bg: #191919;
$cd-bg: #262626;
$modal-bg: #252525;
$hover: #313131;
$blur-bg: #1919196b;
$border: #2d2d2d;
$highlighted-blue: #263341;

//Positive & Negative
$kton-blue: #3fcdfc;

@mixin breakpoint-mixin($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
