@import "../styles/Breakpoints.module.scss";

.featureBanner {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  //Mobile height determined bu height of left and right section
  border-bottom: 0.5px solid $border_mobile;

  @include breakpoint-mixin("Laptop_M") {
    box-sizing: border-box;
    border-bottom: 0.5px solid $border_laptop;
  }

  .featureBanner_width {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;

    @include breakpoint-mixin("Laptop_M") {
      padding: 50px 0px;
      // height: 100%;
      flex-direction: row;
      width: 95%;
    }

    @include portrait-min-width-mixin("Vertical_Display") {
      flex-direction: column;
    }

    .featureBanner_left {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 40px 0;

      @include breakpoint-mixin("Laptop_M") {
        width: 55%;
      }

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .featureBanner_right {
      padding-bottom: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      @include breakpoint-mixin("Laptop_M") {
        text-align: end;
        padding: 0;
        width: 45%;
      }

      .featureTitle {
        margin-bottom: 20px;

        @include breakpoint-mixin("Laptop_S") {
          margin-bottom: 50px;
        }
      }

      h1,
      h2 {
        width: 100%;

        @include breakpoint-mixin("Laptop_M") {
          max-width: 90%;
        }
      }

      .demoButton {
        padding: 5px 15px;
        background-color: $kton-blue;
        border-radius: 3px;
        margin-top: 25px;
        cursor: pointer;
        font-weight: 350;
      }
    }
  }

  .left {
    //Reverse columns on laptop only
    @include breakpoint-mixin("Laptop_M") {
      flex-direction: row-reverse;

      .featureBanner_left {
        justify-content: flex-end;
      }

      .featureBanner_right {
        align-items: flex-start;
        text-align: start;
      }
    }
  }
}
