@import "../styles/Breakpoints.module.scss";

.featureReleasePage {
	overflow-y: auto;
	height: 86dvh;
	display: flex;
	justify-content: center;
	box-sizing: border-box;

	@include breakpoint-mixin("Tablet") {
		height: 90dvh;
	}

	@include breakpoint-mixin("Laptop_S") {
		height: 86dvh;
	}

	@include breakpoint-mixin("Desktop_M") {
		height: 90dvh;
	}

	@include portrait-min-width-mixin("Vertical_Display") {
		height: 94dvh;
	}

	.featureReleasePage_Width {
		height: fit-content;
		display: flex;
		flex-direction: column;
		width: 50%;
		overflow-x: hidden;
		padding: 50px 0px;
		align-items: center;
		width: 90%;

		@include breakpoint-mixin("Laptop_S") {
			width: 50%;
		}
	}
}

@include breakpoint-mixin("Laptop_S") {
	.featureReleasePage::-webkit-scrollbar {
		height: 100%;
		background-color: rgb(45, 41, 41);
		width: 10px;
	}

	.featureReleasePage::-webkit-scrollbar-thumb {
		background-color: rgba(70, 68, 68, 0.428);
		border: 1px solid transparent;
		background-clip: content-box;
		border-radius: 10px;
		height: 40px;
	}
}
