@import "../styles/Breakpoints.module.scss";

.featureBanner {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  //Mobile height determined bu height of left and right section
  border-bottom: 1px solid $border;

  @include breakpoint-mixin("Laptop_S") {
    height: 100dvh;
    border-bottom: 0.5px solid $border;
  }

  @include portrait-min-width-mixin("Vertical_Display") {
    height: fit-content;
  }

  .featureBanner_width {
    width: 90%;
    display: flex;
    flex-direction: column;

    @include breakpoint-mixin("Laptop_S") {
      height: 100%;
      flex-direction: row;
      width: 95%;
    }

    @include breakpoint-mixin("Desktop_M") {
      width: 95%;
    }

    @include portrait-min-width-mixin("Vertical_Display") {
      flex-direction: column;
    }

    .featureBanner_left {
      height: 100dvh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      //Only 50% of width on Laptop_S
      @include breakpoint-mixin("Laptop_S") {
        height: 100%;
        width: 50%;
      }

      @include portrait-min-width-mixin("Vertical_Display") {
        height: 60dvh;
        width: 100%;
      }

      .featureBanner_left_image {
        height: 80%;
        width: 80%;
      }
    }

    .featureBanner_right {
      height: 80vh;
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      // background-color: orange;
      // border-bottom: 0.5px solid $border;
      //border bottom for mobile when it is in column

      @include breakpoint-mixin("Laptop_S") {
        height: 100dvh;
        border-bottom: 0px;
        height: 100%;
        width: 50%;
      }

      @include portrait-min-width-mixin("Vertical_Display") {
        height: 60dvh;
        width: 100%;
      }

      .featureTitle {
        margin-bottom: 50px;
      }

      h1,
      h2 {
        width: 90%;

        @include breakpoint-mixin("Laptop_S") {
          max-width: 80%;
        }
      }
    }
  }

  @include breakpoint-mixin("Laptop_S") {
    .left {
      .featureBanner_left {
        border-right: 0.5px solid $border;
      }
    }

    .right {
      flex-direction: row-reverse;

      .featureBanner_right {
        border-right: 0.5px solid $border;
      }
    }
  }

  @include portrait-min-width-mixin("Vertical_Display") {
    .left {
      .featureBanner_left {
        border-right: 0px;
      }
    }

    .right {
      flex-direction: column;

      .featureBanner_right {
        border-right: 0px;
      }
    }
  }

  .laptop {
    img {
      position: absolute;
      left: -48%;
      height: 260px;


      @include breakpoint-mixin("Mobile_M") {
        left: -35%;
        height: 280px;
      }

      @include breakpoint-mixin("Mobile_L") {
        // height: 87%;
        height: 300px;
        left: -30%;
      }

      @include breakpoint-mixin("Tablet") {
        position: relative;
        left: 0%;
        // height: 90%;
        height: 370px;
      }

      @include breakpoint-mixin("Laptop_S") {
        position: absolute;
        left: -20%;
        height: 380px;
      }

      @include breakpoint-mixin("Laptop_M") {
        left: -10%;
        height: 410px;
      }

      @include breakpoint-mixin("Laptop_L") {
        height: 470px;
      }

      @include breakpoint-mixin("Desktop_S") {
        left: -12%;
        height: 540px;
      }

      @include breakpoint-mixin("Desktop_M") {
        left: 0%;
        position: relative;
        height: 450px;
      }

      @include breakpoint-mixin("Desktop_L") {
        height: 600px;
      }

      @include portrait-min-width-mixin("Vertical_Display") {
        position: relative;
        left: 0%;
        height: 530px;
      }
    }
  }

  .mobile {
    img {
      height: 90%;
    }
  }
}
