@import "../styles/Breakpoints.module.scss";

.featureBanner {
  width: 100%;
  border-bottom: 0.5px solid $border;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  //Mobile height determined bu height of left and right section

  @include breakpoint-mixin("Laptop") {
    height: 100dvh;
  }

  .featureBanner_width {
    width: 90%;
    display: flex;
    flex-direction: column;

    @include breakpoint-mixin("Laptop") {
      height: 100%;
      flex-direction: row;
      width: 95%;
    }

    @include breakpoint-mixin("Desktop") {
      width: 95%;
    }

    .featureBanner_left {
      height: 100dvh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      //Only 50% of width on laptop
      @include breakpoint-mixin("Laptop") {
        height: 100%;
        width: 50%;
      }

      .featureBanner_left_image {
        height: 80%;
        width: 80%;
      }
    }

    .featureBanner_right {
      height: 100dvh;
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      // border-bottom: 0.5px solid $border;
      //border bottom for mobile when it is in column

      @include breakpoint-mixin("Laptop") {
        border-bottom: 0px;
        height: 100%;
        width: 50%;
      }

      .featureTitle {
        margin-bottom: 50px;
      }

      h1,
      h2 {
        width: 90%;

        @include breakpoint-mixin("Laptop") {
          max-width: 80%;
        }
      }
    }
  }

  @include breakpoint-mixin("Laptop") {
    .left {
      .featureBanner_left {
        border-right: 0.5px solid $border;
      }
    }

    .right {
      flex-direction: row-reverse;

      .featureBanner_right {
        border-right: 0.5px solid $border;
      }
    }
  }

  .laptop {
    img {
      position: absolute;
      left: -50%;
      height: 42%;

      @include breakpoint-mixin("Mobile_M") {
        left: -60%;
        height: 45%;
      }

      @include breakpoint-mixin("Tablet") {
        position: relative;
        left: 0%;
        height: 60%;
      }

      @include breakpoint-mixin("Laptop") {
        // position: absolute;
        position: relative;
        left: 0%;
        height: 40%;
      }

      @include breakpoint-mixin("Laptop_L") {
        height: 55%;
      }

      @include breakpoint-mixin("Desktop") {
        height: 50%;
      }

      @include breakpoint-mixin("Desktop_L") {
        height: 45%;
      }
    }
  }

  .mobile {
    img {
      height: 90%;
    }
  }
}
