@import "../styles/Breakpoints.module.scss";

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid $border_mobile;
  // background-color: orange;

  @include breakpoint-mixin("Laptop_S") {
    border-bottom: 0.5px solid $border_laptop;
  }

  .main_width {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-mixin("Laptop_S") {
      width: 95%;
    }

    h1 {
      max-width: 50%;
    }

    img {
      height: 600px;
      border-radius: 5px;
      object-fit: cover;
      //bOX SHADOW
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }
  }
}
